.AddPayment-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.AddPayment-label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #3C6478;
    font-weight: bold;
}

.AddPayment-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.AddPayment-input {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    font-size: 18px;
    outline: none;
    border-bottom: 1px solid #CCCCCC;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
}

.AddPayment-char-count {
    font-size: 12px;
    color: gray;
    font-style: italic;
}

.AddPayment-load-address-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(64, 153, 255, 1);
    padding: 10px;
    border-width: 0px;
    font-size: 16px;
    outline: none;
    text-align: start;
}

.AddPayment-load-address-button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(64, 153, 255, 0.8);
    padding: 10px;
    border-width: 0px;
    font-size: 16px;
    outline: none;
    text-align: start;
    cursor: pointer;
}

.AddPayment-submit-button {
    position: absolute;
    width: 88%;
    bottom: 20px;
    background-color: #4099FF;
    color: white;
    padding: 10px;
    border-width: 0px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
}

.AddPayment-submit-button:hover {
    position: absolute;
    width: 88%;
    bottom: 20px;
    background-color: rgba(64, 153, 255, 0.8);
    color: white;
    padding: 10px;
    border-width: 0px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.AddPayment-indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.AddPayment-activity-indicator {
    width: 18px;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.AddPayment-toast {
    color: #F44336;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

.AddPayment-description {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: #F44336;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.AddPayment-addresses-container {
    display: flex;
    flex-direction: column;
}

.AddPayment-address-button {
    background-color: rgba(0, 0, 0, 0);
    color: #4099FF;
    font-size: 18px;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 0px;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

.AddPayment-address-button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(64, 153, 255, 0.8);
    font-size: 18px;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 0px;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}